.App {
  text-align: center;
}

.correct-answer {
  height : 30px;
  font-size: 18px;
  color: blue;
  margin-bottom: 15px;
  margin-top: 15px;
}

.app {
  font-family: Arial, sans-serif;
  text-align: center;
}

.question-section {
  margin-bottom: 20px;
}

.question-count {
  font-size: 24px;
  margin-bottom: 10px;
}

.question-text {
  font-size: 20px;
}

.answer-section {
  padding: 10px;
  font-size: 20px;
  width: 200px;
  margin: 10px 0;
}

.feedback {
  font-size: 18px;
  color: green;
  margin-top: 10px;
}

.score-section {
  font-size: 24px;
  margin-top: 20px;
}

.question-answer-container {
  /* display: flex; */
  /* flex-direction: column; */
  gap: 10px;
   /* Adjust this value to control the space between sections */
}

.question-section, .answer-section {
  margin: 10px;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin-left: 20px;
}

li {
  margin: 5px 0;
}
