.App {
  text-align: center;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-card .ant-card-actions>li:not(:last-child) {
    border-inline-end: 0px solid white;
}
.correct-answer {
  width: 130%;
  height : 30px;
  font-size: 18px;
  color: blue;
  /* margin-bottom: 15px; */
  /* margin-top: 15px; */
}

.app {
  font-family: Arial, sans-serif;
  text-align: center;
}

.question-section {
  margin-bottom: 20px;
}

.question-count {
  font-size: 24px;
  margin-bottom: 10px;
}

.question-text {
  font-size: 20px;
}

.answer-section {
  width: 100%;
  padding: 10px;
  font-size: 25px;
  width: 200px;
  margin: 10px 0;
  text-align:center
}

.feedback {
  height : 30px;
  font-size: 18px;
  color: green;
  /* margin-top: 10px; */
}

.score-section {
  font-size: 24px;
  margin-top: 20px;
}

.question-answer-container {
  /* display: flex; */
  /* flex-direction: column; */
  gap: 10px;
   /* Adjust this value to control the space between sections */
}

.question-section, .answer-section {
  margin: 10px;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin-left: 20px;
}

li {
  margin: 5px 0;
}

@media (max-width: 600px) {
  .app {
    padding: 10px; /* 增加内边距 */
  }
  .question-answer-container {
    flex-direction: column; /* 垂直排列 */
  }
  .question-text, .answer-section {
    font-size: 16px; /* 调整字体大小 */
  }
  .ant-btn {
    width: 100%; /* 按钮全宽 */
    margin: 5px 0; /* 增加按钮间距 */
  }
}
